* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 700px;
    height: 550px;
    background-color: #e9dfdf;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin: 15px 0px;
    padding: 12px;
    width: 100%;
    border: 1px solid #b3aaaa;
    font-size: 17px;
    border-radius: 6px;
}

input[type="submit"] {
    width: 25%;
    background-color: #b9e4e4;
    font-size: 25px;
    color: black;
    margin: 70px auto;
    border: 2px solid blue;
    border-radius: 15px;
    cursor: pointer;
    display: block;
}